body{padding: 20px;}

.clientsHeader{ text-align: center; padding-top: 50px;}

.appointments-left{
    background-color: #0b2e13;
    color: white;
    width: 10%;
}
/*.appointments-right {background-color: #FFFFFF; color: #000000;}*/

.appointmentsThead{
    background-color: #000000;
    color: #ffffff;
    align: center;
}

.scheduleToolbar{
    border: dotted;
    text-align:center;
}

.portlet{
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.appointmentCheckedIn{
    background-color: #000099;
    color: white;
}

.appointmentNotCheckedIn{
    background-color: white;
}

.appointmentCheckedOut{
    background-color: #990000;
    color: white;
}


label {
    margin-bottom: 20px;
    display: inline-block;
}

.appointmentPortlet {
    position: absolute;
}

#spinner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    opacity: 0.6;
}

.spin {
    margin-left: -64px;
    margin-top: -64px;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 90px;
    width: 90px;
    -webkit-animation: rotate 0.8s infinite linear;
    animation: rotate 0.8s infinite linear;
    border: 14px solid #808080;
    border-right-color: transparent;
    border-radius: 50%;
}

@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

@-webkit-keyframes rotate {
    0%    { -webkit-transform: rotate(0deg); }
    100%  { -webkit-transform: rotate(360deg); }

}
