body{padding: 20px;}

.clientsHeader{ text-align: center; padding-top: 50px;}

.appointments-left{
    background-color: #0b2e13;
    color: white;
    width: 10%;
}
.appointments-right {background-color: #000000; color: white;}