body{padding: 20px;}

.clientsHeader{ text-align: center; padding-top: 50px;}

.appointments-left{
    background-color: #0b2e13;
    color: white;
    width: 10%;
}
/*.appointments-right {background-color: #FFFFFF; color: #000000;}*/

.appointmentsThead{
    background-color: #000000;
    color: #ffffff;
    align: center;
}

.scheduleToolbar{
    border: dotted;
    text-align:center;
}

.portlet{
    width: 150px;
    font-size: 10px;
}

.appointmentCheckedIn{
    background-color: #000088;
    color: white;
}

.appointmentNotCheckedIn{
    background-color: white;
}

.appointmentCheckedOut{
    background-color: #dd0000;
    color: white;
}


label {
    margin-bottom: 20px;
    display: inline-block;
}

.appointmentPortlet {
    position: absolute;
}
